.link_admin {
    background-color: #0084ac;
    font-size: 20px;
    padding: 5px 5px;
    border-radius: 10px;
    color: white;
    border: none;
    margin: 20px auto;
    width: 300px;


    a {
        color: white;
        text-decoration: none;

    }
}

#tableAdmin {
    display: flex;
    flex-direction: column;
    margin: 30px 30px;

    .riga {
        display: flex;

        span {
            min-width: 200px;
            border: 1px solid black;
            padding: 10px 10px;
            overflow: auto;

            &.description {
                min-width: 500px;
            }
        }

        form {
            width: 200px;
        }
    }

    #title {
        text-transform: uppercase;
        color: blue;

    }
}
