$small: 1100px;

@mixin my-flex {
    display: flex;
    flex-direction: row;
}

#sectionFooter {
    // background-image: url(/images/footer-bg.jpg);
    background-size: cover;
    @include my-flex;
    justify-content: space-evenly;

    #linkFooter {
        @include my-flex;
        justify-content: space-between;
        width: 75%;
        height: 350px;
        overflow: hidden;

        section {
            margin-top: 30px;

            h3 {
                color: white;
                text-align: start;
            }

            ul {

                list-style-type: none;
                margin: 20px 0;

                li {
                    text-align: start;

                    a {
                        text-decoration: none;
                        color: grey;
                        font-weight: bold;
                        font-size: 15px;
                    }
                }
            }
        }
    }

    #logo {
        width: 50%;
        object-fit: contain;
        margin-top: -40px;
        margin-bottom: -40px;

    }
}

#navFooter {
    @include my-flex;
    justify-content: center;
    align-items: center;
    background-color: #303030;
    height: 130px;
    // z-index: 100;
    // position: fixed;
    // bottom: 0;
    // left: 0;
    width: 100%;

    div {
        @include my-flex;
        justify-content: space-between;
        width: 75%;

        button {
            background-color: #303030;
            border: 2px solid #0282f9;
            padding: 15px;
        }

        a {
            text-decoration: none;
            color: white;
            font-weight: bold;
            font-size: 15px;
        }

        #social {
            width: 35%;
            @include my-flex;
            align-items: center;

            #follow {
                color: #0282f9;
                font-size: 20px;
                font-weight: bold;
            }

            @media screen and (max-width: $small ) {
                & {
                    width: 50%;

                }
            }
        }
    }
}
